@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Cinzel+Decorative:wght@400;700&family=Metamorphous&display=swap");
@import "tailwindcss";

@theme {
  --font-medieval: "Cinzel Decorative", serif;
  --font-fantasy: "Metamorphous", serif;
  --font-body: "Crimson Pro", serif;
}

@layer base {
  html {
    font-family: "Crimson Pro", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cinzel Decorative", serif;
  }
}
